/*.so
/*.o
/*~
/src/*~
/src/*.o
/src/optimizer/*.o
/src/optimizer/*~
/src/*_scanner.c
/src/*_parser.c
/src/*_parser.h
/pgpi/*~
/pgpi/__pycache__/
/tools/*~
/tools/nn/
/tools/*dat
/pg_stat_statements/*.o
/pg_stat_statements/*~
